<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        This project was created by <a href="https://github.com/alxnull">alxnull</a>
        and is developed on
        <a href="https://github.com/alxnull/smallbasic-gallery">
        <i class="fab fa-github"></i>&nbsp;GitHub</a>.
        <div style="margin-bottom: 15px;"></div>
        Small Basic Gallery is a community project. Small Basic and its logo are copyright of Microsoft.
      </div>

      <div class="footer-col footer-col-2">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
