---
layout: default
---

<div class="home">
  {{ content }}
  
  <ul class="post-list">
    {%- assign sorted_collections = site.collections | sort: 'index' -%}
    {%- for collection in sorted_collections -%}
    {%- if collection.description -%}
    <li>
      <h2>
      <a href="{{ collection.label | relative_url }}">
        {{- collection.label | capitalize -}}
      </a>
      </h2>
      <p class="post-description">
        {{ collection.description }}
      </p>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>

</div>
